export VES_P12_PASSWORD="enter your password here"
export AWS_ACCESS_KEY_ID="enter your AWS access key here"
export AWS_SECRET_ACCESS_KEY="enter your AWS secret access key here"
export AWS_SESSION_TOKEN="enter your AWS session token here"